* {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  word-break: keep-all;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  padding-bottom: 2rem;
}

section {
  padding: 0 2rem;
}

p {
  margin: 0 0 1rem 0;
  font-size: 1.1rem;
  line-height: 1.4;
}

h1 {
  font-size: 4rem;
  line-height: 1.1;
}

h2 {
  font-size: 2.6rem;
  margin: 3rem 0 1.5rem 0;
}

h3 {
  font-size: 1.8rem;
  margin: 0 0 1rem 0;
}

h4 {
  font-size: 1.3rem;
  margin: 0 0 0.5rem 0;
}

ul {
  padding: 0 0 0 1.3rem;
  margin: 0 0 1rem 0;
  font-size: 1.1rem;
}

ul > li {
  padding: 0.2rem 0 0.2rem 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:hover,
a:focus {
  color: #f68200;
  text-decoration: underline;
  text-underline-position: under;
}

.container {
  width: 100%;
  max-width: 50rem;
  margin: auto;
}

.about-me {
  padding: 1.5rem 0;
}

.row {
  display: flex;
  padding: 2rem 0;
  border-bottom: 1px solid #eeeeee;
}

.row:last-child {
  border: none;
}

.row-left {
  flex-basis: 18rem;
  padding-right: 1rem;
  flex-shrink: 0;
}

.row-right {
  flex-grow: 1;
}

.project-title .link-emoji {
  font-size: 1.3rem;
}

.project {
  padding-top: 1.5rem;
}

.project:first-child {
  padding-top: 0;
}

.code {
  background: #f7f6f3;
  color: #dd4a68;
  font-style: Roboto;
}

.skill {
  padding: 2rem 0;
}

.skill {
  border-bottom: 1px solid #eeeeee;
}

.skill:last-child {
  border: none;
}

.education .time {
  margin-bottom: 1rem;
}

.project-title {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.notice {
  position: relative;
  top: -10px;
  color: #f82626;
  font-size: 0.9rem;
}

@media screen and (max-width: 680px) {
  body,
  html {
    font-size: 14px;
  }
  .row {
    flex-direction: column;
    gap: 2rem;
  }

  .row-left {
    flex: 0;
  }
}
